.bio {
  margin: 1rem;
  padding: 3rem;
  
  @media(max-width: 840px) {
    margin: 0;
    padding: 0;
  }
  
  p {
    font-family: 'Lato';
    color: #2D2D2D;
    font-size: 1.15em;
    padding-top: 1em;
    line-height: 1.8em;

  }
}

.mission {
  display: flex;
  
  p {
    font-family: 'Lato';
    color: #2D2D2D;
    font-size: 1em;
  }
  
  @media (max-width: 840px) {
    display: flex;
    flex-direction: column;
  }
}

.picture {
  content: "";
  background-image: url("/images/mission-stanislav-kondratiev.jpg");
  width: 50%;
  background-position: top 38% center;
  background-size: cover;
  
  @media(max-width: 840px) {
    height: 50vh;
    width: 100%;
  }
}

.info {
  width: 50%;
  height: 50vh;
  padding: 2em;
  background-color: #F1EBE3;
  box-sizing: border-box;
  
  p {
    padding: 0 1em;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  
  @media(max-width: 840px) {
    height: 50vh;
    width: 100%;
    
    p {
      padding: 0;
    }
  }
}