.content{
  text-align: center;
  font-family: 'Abril Fatface';
  
  p {
    font-size: 1.4rem;
    margin: 0.5em;
  }
  
}

.start {
  border-top: 1px solid #2D2D2D;
  width: 6em;
  font-size: 1.9rem;
  padding: 0;
  padding-top: 1em;
  margin: 0 auto;
  margin-top: 1.5em;
}