.form {
  width: 70%;
  @media (max-width: 840px) {
    width: 100%;
    text-align: center;
  }
  
  input,
  textarea {
    font-family: 'Lato';  
    padding: 0.8em 1.5em;
    box-sizing: border-box;
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    margin-bottom: 1em;
    font-size: 1em;
  }
  
  textarea {
    resize: none;
  }
  
  button {
    background: #242424;
    font-family: 'Lato';
    color: #FFFFFF;
    border: none;
    font-size: 1em;
    padding: 0.5em 4em;
  }
}

.double {
  display: flex;
  justify-content: space-between;

  input {
    width: 48%;
    
    &:first-child {
      margin-right: 1em;
    }
  }
  
}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.thankyou {
  font-family: 'Lato';
}