.root {
  background-color: #202342;
  padding: 1rem;
  position: relative;
  margin-top: 6rem;
}

.navs,
.terms {
  display: flex;
  justify-content: center;
  margin: 1em 0;

  a {
    color: #ceced9;
    text-decoration: none;
    list-style: none;
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: normal;
    margin: 0 1.2rem;
    font-size: 16px;
  }
  li {
    list-style: none;
  }
}

.terms a {
  font-family: 'Lato';
  font-size: 16px;
}
.divider {
  content: '';
  height: 1px;
  width: 95%;
  margin: 0 auto;
  padding: 0;
  background-color: #dcfdee;
}

@media(max-width: 840px) {
  .root {
    display: flex;
  }
  .navs {
    display: none;
  }
  .terms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    
    li {
      margin: 0.2em;
    }

  }
  .divider {
    display: none;
  }
}